@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #dae5ec;
  font-family: "Share Tech Mono", monospace;
}

.cabecalho {
  background-color: #042959;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 25px;
  color: white;
  text-transform: uppercase;
}

.digitando {
  font-size: 30px;
  white-space: nowrap;
  display: inline-block;
}

#cursor {
  display: inline-block;
  width: 2px;
  height: 1em;
  background-color: #ffffff;
  animation: piscar 0.7s steps(1) infinite;
  margin-left: 2px;
}

@keyframes piscar {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

#clock {
  font-size: 15px;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1200px;
  margin: 3rem auto;
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1; 
}

#area_texto {
  width: 100%;
  background-color: #dae5ec;
  font-family: 'Share Tech Mono';
  font-size: 1.5rem;
  border: none;
  outline: none;
  resize: none;
  font-weight: 500;
  padding: 1rem;
  box-sizing: border-box;
}

.icone-correcao {
  font-family: 'Share Tech Mono';
  font-size: 0.7rem;
  font-weight: 600;
  color: #495057;
}

#mensagem {
  font-family: 'Share Tech Mono';
  font-size: 1rem;
  color: #e41313;
}

.key-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.75rem;
  margin-top: 1rem;
}

.key-label {
  font-weight: 600;
  color: #333;
  font-size: 1rem;
}

.key-input {
  padding: 0.6rem 1rem;
  border: 2px solid #888;
  border-radius: 12px;
  font-size: 1rem;
  outline: none;
  transition: 0.3s;
  min-width: 180px;
  font-family: 'Share Tech Mono';
}

.key-input:focus {
  border-color: #0a133d;
  box-shadow: 0 0 10px #2724b6aa;
}

.mensagem-erro {
  color: red;
  font-size: 0.9em;
  display: none;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1rem;
}

button {
  width: 328px;
  height: 67px;
  border-radius: 24px;
  font-family: 'Share Tech Mono';
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

#button_criptografar {
  background-color: #020659;
  color: white;
}

#button_descriptografar {
  background-color: #dae5ec;
  color: black;
  border: 3px solid #020659;
}

button:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2), 0 0 25px rgba(2, 6, 89, 0.5);
  transform: scale(1.02);
}

button:focus {
  outline: none;
  box-shadow: 0 0 15px rgba(2, 6, 89, 0.5);
}

.secao__resultado {
  background-color: white;
  width: 400px;
  padding: 1.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  font-family: 'Share Tech Mono';
}

.conteudo-centralizado {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  align-items: center;
}

.conteudo-centralizado img {
  width: 85%;
  height: auto;
  border-radius: 5px;
  display: block;
  margin: auto;
}

.resultado-criptografado {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;
  padding-bottom: 20px;
  word-wrap: break-word;
}

#resultado-texto {
  width: 100%;
  margin-bottom: 50vh;
}

#button_copiar,
#limpar-btn {
  width: 328px;
  height: 67px;
  border: none;
  border-radius: 24px;
  font-family: "Share Tech Mono";
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 12px;
  transition: 0.3s ease;
}

#button_copiar {
  background-color: #020659;
  color: #fff;
}

#limpar-btn {
  background-color: white;
  color: black;
  border: 3px solid #020659;
}

#button_copiar:hover,
#limpar-btn:hover,
#button_copiar:focus,
#limpar-btn:focus {
  box-shadow: 0 0 15px rgba(2, 6, 89, 0.5);
  transform: scale(1.02);
  outline: none;
}

.copiado-msg {
  display: none;
  color: red;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.copiado-msg.show {
  display: block;
  opacity: 1;
}
